{% assign current_lang = "en" %}
{% if page.url contains "/de/" %}
  {% assign current_lang = "de" %}
{% endif %}
{% assign i18n = site.data.i18n[current_lang] %}

<footer class="site-footer">
  <div class="footer-grid">
    <div>
      <h5>{{ i18n.footer.about_heading }}</h5>
      <p>
        {{ site.name }}<br>
        {% if current_lang == "de" %}
          {{ site.title-de }}<br>
          {{ site.institution-de }}<br>
          {{ site.department-de }}
        {% else %}
          {{ site.title }}<br>
          {{ site.institution }}<br>
          {{ site.department }}
        {% endif %}
      </p>
    </div>
    <div>
      <h5>{{ i18n.footer.contact_heading }}</h5>
      <p>
        L7, 3-5, Room 3.43 <br>
        68161 Mannheim, Germany<br>
        <br>
        <a href="mailto:{{ site.email }}"><i class="fa-solid fa-envelope"></i> {{ site.email }}</a><br>
        {% if site.links.github and site.links.github != "" %}<a href="{{ site.links.github }}"><i class="fa-brands fa-github"></i> GitHub</a><br>{% endif %}
      </p>
    </div>
    <div>
      <h5>{{ i18n.footer.links_heading }}</h5>
      <p>
        <a href="{{ site.links.personal_website }}"><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;University of Mannheim</a><br>
        <a href="{{ site.links.crc_website }}"><svg class="icon icon-crc" aria-hidden="true"><use xlink:href="/assets/icons/CRCTR224.svg#icon-crc"></use></svg>&nbsp;CRC Transregio 224</a><br>
        <a href="{{ site.links.linkedin }}"><i class="fa-brands fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a><br>
        {% if site.links.google_scholar and site.links.google_scholar != "" %}<a href="{{ site.links.google_scholar }}"><i class="ai ai-google-scholar"></i> Google Scholar</a><br>{% endif %}
        {% if site.links.researchgate and site.links.researchgate != "" %}<a href="{{ site.links.researchgate }}"><i class="ai ai-researchgate"></i>&nbsp;&nbsp;ResearchGate</a><br>{% endif %}
      </p>
    </div>
  </div>
  <div class="footer-grid">
    <div class="footer-copyright" style="grid-column: 1 / -1;">
      &copy; {{ "now" | date: "%Y" }} {{ site.name | escape }}
    </div>
  </div>
</footer>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/site.min.js" | relative_url }}"></script>